.vscode/launch.json
.vscode/settings.json
.env
vnv
.cursor
.vscode
/env
/vnv
__pycache__/
.pytest_cache/
.aitk/
.cursor/
.vscode/
.env/
.venv/
.venv/
.venv/
.venv/
.venv/
.venv/
events/
agent/
new_desktop_app/
PHONEIX UI/
vlm_frames/
event_videos/
sachin_vision/