.vscode/launch.json
.vscode/settings.json
.env
vnv
.cursor
.vscode
/env
/vnv
__pycache__/
.pytest_cache/
.aitk/
.cursor/
.vscode/
.env/
.venv/
.venv/
.venv/
.venv/
.venv/
.venv/
events/
agent/
new_desktop_app/
PHONEIX UI/
vlm_frames/
event_videos/
sachin_vision/
vision-backend/venv
vision-backend/debug_frames
vision-backend/frames
vision-backend/env
vision-backend/*.pyc
vision-backend/*.pt
vision-backend/event_videos/*.mp4
*.yml
*.pt
!vision-backend/box_detection.pt
!vision-backend/fire_detection.pt
back_up_models